body, html {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.visualization-title {
  width: 100%;
  background-color: #C9E4FF;
  color: black;
  padding: 10px;
  padding-left: 70px;
  margin: 0 0 15px 0;
  border-top: 4px solid #08306B
}

svg {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  fill: white;
}

.tooltip {
  padding: 8px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
}

.options-container {
  clear: both;
}

.options-container select {
  width: 230px;
  margin: 10px 90px;
}

.map-container {
  overflow: hidden;
  clear: both;
}

.legend {
  background-image: -ms-linear-gradient(left, #C9E4FF 0%, #08306B 100%);
  background-image: -moz-linear-gradient(left, #C9E4FF 0%, #08306B 100%);
  background-image: -o-linear-gradient(left, #C9E4FF 0%, #08306B 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #C9E4FF), color-stop(1, #08306B));
  background-image: -webkit-linear-gradient(left, #C9E4FF 0%, #08306B 100%);
  background-image: linear-gradient(to right, #C9E4FF 0%, #08306B 100%);
  width: 550px;
  margin: 10px 0 30px 90px;
  float: left;
}

.low, .high {
  float: left;
  position: relative;
  top: 18px;
  font-size: 12px;
  left: 2px;
}

.high {
  float: right;
  left: -2px;
}