body, html {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.visualization-title {
  width: 100%;
  background-color: lightblue;
  color: black;
  padding: 10px;
  margin: 8px 0;
}

svg {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  fill: white;
}

.tooltip {
  padding: 8px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
}

.options-container {
  margin-left: 10px;
}

.options-container select {
  width: 230px;
}

.map-container {
  overflow: hidden;
}
